.changepassword {
    background-color: #fff;
    padding: 0 40px;
    display: block;
    border-radius: 20px;
    @media (max-width: 767px) {
        padding: 0 20px;

    }


    &-title {
        h2{
            color: $accent;
            padding: 20px 0 0 20px;
        }
       
    }

    &-inputs {
        padding: 20px;

        input {
            background-color: transparent;
            border: 1px solid #565f6785;
            font-size: 14px;
            border-radius: 10px;
            padding: 15px 20px;
            margin: 10px 0;
            color: #565f67;
            width: 100%;

            &::placeholder {
                color: #565f67;
                font-size: 16px;
            }
        }

    }

    &-submit {
        display: flex;
        padding: 10px 0;
        justify-content: space-between;

        &-input {
            width: 70%;
        }

        &-button {
            width: 30%;
            margin: auto;
            text-align: end;
        }

    }
}