.search {
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 0;
    @media (max-width: 767px) {
        display: block;
        margin: 0;
    } 
    &-submit{
        @media (max-width: 767px) {
            margin: 20px 0;
        } 

    }
    &-inputs {
        width: 48%;
        @media (max-width: 767px) {
            width: 100%;
        } 

        form {
            border: 1px solid  #797c806b;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            padding: 4px;
        
            input {
                padding: 18px;
                border-radius: 20px;
                border: none;
                width: 100%;
                font-size: 20px;
                &::placeholder{
                  font-size: 20px;
                }

                &:focus{
                    border: none;
                }
                &:focus-visible{
                    border: none;
                    outline: none;
                }
                &:active{
                    border: none;
                }
            }
        }

        i {
            color: #fff;
            font-size: 25px;
        }
    }
    
}