.usertable {
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;

    &-header {
        display: flex;
        justify-content: space-between;
    }

    &-actions {
        &-buttons {
            display: flex;
            justify-content: start;
            align-items: center;

            span {
                border: 1px solid #797c80;
                display: flex;
                border-radius: 10px;
                height: 40px;
                width: 40px;
                margin: 0 10px;
                align-items: center;
                justify-content: center;

                i {
                    margin: auto;
                    color: #797c80;
                    font-size: 18px;
                }
            }
        }
    }
}